@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

// Fonts
$lato: 'Lato', sans-serif;
$sans: 'Open Sans', sans-serif;
$titan: 'Titan One', cursive;

// Colors
$real__black: #262626;
$real__purple: #8D5A97;
$real__white: #E2E8CE;
$real__orange: #CC3F0C;
$real__pink: #E8AEB7;